In [1]:
# 1. 화면에 Hello World 문자열을 출력하세요.
print("Hello World")

Hello World

In [2]:
# 2. 화면에 Mary's cosmetics을 출력하세요. (중간에 '가 있음에 주의하세요)
print("Mary's cosmetics")

Mary's cosmetics

In [3]:
#3. 화면에 아래 문장을 출력하세요. (중간에 "가 있음에 주의하세요.)
# 신씨가 소리질렀다. "도둑이야".

print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [4]:
#4. 화면에 "C:\Windows"를 출력하세요.
# 화면에 "C:\Windows"를 출력하세요.

print(r"C:\Windows")

C:\Windows

In [5]:
#5. 다음 코드를 실행해보고 \t와 \n의 역할을 설명해보세요.
#\n=enter, \t =tab
print("안녕하세요.\n만나서\t\t반갑습니다.")

안녕하세요.
만나서		반갑습니다.

In [6]:
#6.print 함수에 두 개의 단어를 입력한 예제입니다. 아래 코드의 출력 결과를 예상해봅시다.
# 오늘은 일요일
print ("오늘은", "일요일")

오늘은 일요일

In [7]:
#print() 함수를 사용하여 다음과 같이 출력하세요.
# naver/kakao/sk/samsung
print (r"naver/kakao/sk/samsung")

naver/kakao/sk/samsung

In [14]:
#다음 코드를 수정하여 줄바꿈이 없이 출력하세요. (힌트: end='') print 함수는 두 번 사용합니다. 세미콜론 (;)은 한줄에 여러 개의 명령을 작성하기 위해 사용합니다.
# print의 end에 빈 문자열을 지정해주면 됩니다./print(값, end='문자 또는 문자열')/print(변수, end='문자 또는 문자열')
#그 밖의 줄바꿈 명령어'sep','\n',
print("first", end=""); print("second")
print("first", end=" "); print("second")#end는 공백도 지정할 수 있습니다.
print(1, 2, 3, sep='\n')

firstsecond
first second
1
2
3

In [16]:
#10. 5/3의 결과를 화면에 출력하세요.

print(5/3)

1.6666666666666667

In [23]:
#11.삼성전자라는 변수로 50,000원을 바인딩해보세요. 삼성전자 주식 10주를 보유하고 있을 때 총 평가금액을 출력하세요.

삼성전자 = 50000
print('총 평가금액:',삼성전자*10)

총 평가금액: 500000

In [26]:
#12. 다음 표는 삼성전자의 일부 투자정보입니다. 변수를 사용해서 시가총액, 현재가, PER 등을 바인딩해보세요.
시가총액 = '289조'
현재가 = '50000원'
PER = float(15.79)
print(시가총액)
print(현재가)
print(PER)

289조
50000원
15.79

In [30]:
#13. 변수 s와 t에는 각각 문자열이 바인딩 되어있습니다.
# 두 변수를 이용하여 아래와 같이 출력해보세요.
s = "hello"
t = "python"

print(s,'!',t)
print(s+'!',t)

hello ! python
hello! python

In [31]:
#14. 아래 코드의 실행 결과를 예상해보세요.
# 8
2 + 2 * 3

8

In [33]:
#15. type() 함수는 데이터 타입을 판별합니다. 변수 a에는 128 숫자가 바인딩돼 있어 type 함수가 int (정수)형임을 알려줍니다.
#아래 변수에 바인딩된 값의 타입을 판별해보세요.
a = "132"
print(type(a))

<class 'str'>

In [34]:
#16. 문자열 '720'를 정수형으로 변환해보세요.
# num_str = "720"
num_str = 720
print(type(num_str))

<class 'int'>

In [35]:
#17. 정수 100을 문자열 '100'으로 변환해보세요.
#num = 100
num = '100'
print(type(num))

<class 'str'>

In [36]:
#18. 문자열 "15.79"를 실수(float) 타입으로 변환해보세요
num = 15.79
print(type(num))

<class 'float'>

In [40]:
#19. year라는 변수가 문자열 타입의 연도를 바인딩하고 있습니다. 이를 정수로 변환한 후 최근 3년의 연도를 화면에 출력해보세요.
#year = "2020"
year = 2020
print(year-2, end=","),print(year-1, end=","),print(year)

#연속으로 출력하고 싶어서 end를 썼는데(none)이 왜 나오는 걸까요?

2018,2019,2020

(None, None, None)

In [41]:
#20. 에이컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있습니다. 총 금액은 계산한 후 이를 화면에 출력해보세요. (변수사용하기)
 
에어컨 = 48584
총금액 = 에어컨 * 36

print(총금액)

1749024

In [49]:
#21. letters가 바인딩하는 문자열에서 첫번째와 세번째 문자를 출력하세요.
letters = 'python'
print(letters[0])
print(letters[2])
print('----------------')
print(letters[0]),print(letters[2])
#print함수 뒤에는 자동으로 \n값이 입력되어 있다고 배웠는데, 연속 쓰기가 안되고, ','로 같은 줄에 코딩하면 왜 none이 출력되나요?

p
t
----------------
p
t

(None, None)

In [51]:
#22. 자동차 번호가 다음과 같을 때 뒤에 4자리만 출력하세요.
license_plate = "24가 2210"

print(license_plate[-4:])

2210

In [53]:
#23. 아래의 문자열에서 '홀' 만 출력하세요.
string = "홀짝홀짝홀짝"

print(string[0::2])

홀홀홀

In [55]:
#24. 문자열을 거꾸로 뒤집어 출력하세요.
string = "PYTHON"
print(string[::-1])

NOHTYP

In [60]:
#25. 아래의 전화번호에서 하이푼 ('-')을 제거하고 출력하세요.
phone_number = "010-1111-2222"

a = phone_number.replace('-',' ')
print(a)

010 1111 2222

In [61]:
#26. 25번 문제의 전화번호를 아래와 같이 모두 붙여 출력하세요.
b = a.replace(' ', '')
print(b)

01011112222

In [68]:
#27. url 에 저장된 웹 페이지 주소에서 도메인을 출력하세요.
url = "http://sharebook.kr"
print(url[-2:])

print('-----------------')

url_split = url.split('.')
print(url_split[-1])

kr
-----------------
kr

In [69]:
#28. 아래 코드의 실행 결과를 예상해보세요.
#Python (잘못 예측.. 답: error)

lang = 'python'
lang[0] = 'P'
print(lang)

TypeError: 'str' object does not support item assignment

In [71]:
#29. 아래 문자열에서 소문자 'a'를 대문자 'A'로 변경하세요.
string = 'abcdfe2a354a32a'
a = string.replace('a', 'A')
print(a)

Abcdfe2A354A32A

In [75]:
#30. 아래 코드의 실행 결과를 예상해보세요.
# error (잘못예측, 문자열은 변경할 수 없는 자료형)
string = 'abcd'
print(string)
print('-----------------')
a=string.replace('b', 'B')#변수지정하여 변경된 형태로 출력 가능
print(a)

abcd
-----------------
aBcd

In [76]:
#31. 문자열 합치기: 아래 코드의 실행 결과를 예상해보세요.
#34
a = "3"
b = "4"
print(a + b)

34

In [77]:
#32. 아래 코드의 실행 결과를 예상해보세요.
# HiHiHi
print("Hi" * 3)

HiHiHi

In [78]:
#33. 화면에 '-'를 80개 출력하세요.
print("-" * 80)

--------------------------------------------------------------------------------

In [81]:
#34. 변수에 다음과 같은 문자열이 바인딩되어 있습니다.
t1 = 'python'
t2 = 'java'
#변수에 문자열 더하기와 문자열 곱하기를 사용해서 아래와 같이 출력해보세요.
#python java python java python java python java
a = t1+t2
print(a*4)

print('-----------------')

#모범답안: 공백을 넣어서 출력
b = t1 + ' ' + t2 + ' '
print(b*4)

pythonjavapythonjavapythonjavapythonjava
-----------------
python java python java python java python java

In [99]:
#35&36&37. 변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때 % formatting을 사용해서 다음과 같이 출력해보세요0.
#이름: 김민수 나이: 10
#이름: 이철희 나이: 13

name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print("이름: %s 나이: %d" % (name1, age1))
print("이름: %s 나이: %d" % (name2, age2))

print('------- OR ---------')#36번

print("이름: {} 나이: {}".format(name1, age1))
print("이름: {} 나이: {}".format(name2, age2))

print('------- OR ---------')#37번 수업시간에 배운 최신 포맷함수 방식을 이용

print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13
------- OR ---------
이름: 김민수 나이: 10
이름: 이철희 나이: 13
------- OR ---------
이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [98]:
#38. 삼성전자의 상장주식수가 다음과 같습니다. 컴마를 제거한 후 이를 정수 타입으로 변환해보세요.

상장주식수 = "5,969,782,550"
a = 상장주식수.replace(',','')
b = int(a)
print(type(b))
print(b)

<class 'int'>
5969782550

In [101]:
#39. 다음과 같은 문자열에서 '2020/03'만 출력하세요.
분기 = "2020/03(E) (IFRS연결)"
print(분기[0:7])

2020/03

In [102]:
#40. 문자열의 좌우의 공백이 있을 때 이를 제거해보세요.
data = "   삼성전자    "
data.strip()

'삼성전자'

In [106]:
#41&42. 문자열 대소문자 변경
ticker = "btc_krw"
a = ticker.upper()
print(a)
b = a.lower()
print(b)

BTC_KRW
btc_krw

In [108]:
#43. 문자열 'hello'가 있을 때 이를 'Hello'로 변경해보세요.
a = 'hello'
a.capitalize()

'Hello'

In [136]:
#44&45&46. 파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx'로 끝나는지 확인해보세요.
#특정문자 찾기(find,startswith,endswith)

file_name = "보고서.xlsx"

print('*endswith*')#끝나는문자, 문자열의시작, 문자열의끝
print(file_name.endswith('xlsx')) #문자열이 특정문자로 끝나는지 여부를 알려준다.true나 false를 반환
print(file_name.endswith('xls')) 
print(file_name.endswith(("xlsx", "xls")))

print('------------')
print('*find*')
print(file_name.find('보')) #find(찾을문자, 찾기시작할위치)
print(file_name.find('보',3))#없을경우 -1을 리턴

print('------------')
print('*startswith*') #문자열이 특정문자로 시작하는지 여부를 알려준다. true나 false 를 반환
print(file_name.startswith('보'))
print(file_name.startswith('서'))
print(file_name.find('서')) #find는 '서' 의 시작지점을 알려줌 : 2
print(file_name.startswith('보',3))

*endswith*
True
False
True
------------
*find*
0
-1
------------
*startswith*
True
False
2
False

In [138]:
#47. 다음과 같은 문자열이 있을 때 공백을 기준으로 문자열을 나눠보세요.
a = "hello world"
print(a.split(' '))

['hello', 'world']

In [140]:
#48. 다음과 같이 문자열이 있을 때 btc와 krw로 나눠보세요.
ticker = "btc_krw"
print(ticker.split('_'))

['btc', 'krw']

In [141]:
#49. 다음과 같이 날짜를 표현하는 문자열이 있을 때 연도, 월, 일로 나눠보세요.
date = "2020-05-01"
print(date.split('-'))

['2020', '05', '01']

In [151]:
#50. 문자열의 오른쪽에 공백이 있을 때 이를 제거해보세요.
data = "     039490     "

# strip에 인자가 없으면, 공백 제거
print(data.rstrip()) #오른쪽에서 제거
print(data.lstrip()) #왼쪽에서 제거
print(data.strip()) #양쪽에서 제거

print('------------')
# strip에 인자를 할당하면,할당된 인자를 제거
a = "0000안녕하세요.0000"
print(a.lstrip('0'))
print(a.rstrip('0'))
print(a.strip('0'))

print('------------')
# strip에 인자로 여러 문자를 전달하면 그 문자들과 동일한 것들을 모두 제거합니다.
b = "0000...1234...안녕하세요....1234...0000"
print(b.lstrip('01234.'))
print(b.rstrip('.12340'))
print(b.strip('.12340'))

     039490
039490
039490
------------
안녕하세요.0000
0000안녕하세요.
안녕하세요.
------------
안녕하세요....1234...0000
0000...1234...안녕하세요
안녕하세요

In [154]:
#51. 리스트 생성
#2016년 11월 영화 예매 순위 기준 top3는 다음과 같습니다. 영화 제목을 movie_rank 이름의 리스트에 저장해보세요. (순위 정보는 저장하지 않습니다.)

movie_rank = ['닥터 스트레인지', '스플릿', '럭키']
print(movie_rank)
print(type(movie_rank))

['닥터 스트레인지', '스플릿', '럭키']
<class 'list'>

In [159]:
#52. 51의 movie_rank 리스트에 "배트맨"을 추가하라.

movie_rank = ['닥터 스트레인지', '스플릿', '럭키']
movie_rank.append('배트맨')
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [160]:
#53. movie_rank 리스트에는 아래와 같이 네 개의 영화 제목이 바인딩되어 있다. 
#"슈퍼맨"을 "닥터 스트레인지"와 "스플릿" 사이에 추가하라.
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
movie_rank.insert(1, "슈퍼맨")
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [161]:
#54. movie_rank 리스트에서 '럭키'를 삭제하라.
del movie_rank[3]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [162]:
#55. movie_rank 리스트에서 '스플릿' 과 '배트맨'을 를 삭제하라.
del movie_rank[2:]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

In [163]:
#56. lang1과 lang2 리스트가 있을 때 lang1과 lang2의 원소를 모두 갖고 있는 langs 리스트를 만들어라.
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
print(lang1+lang2)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [169]:
#57. 다음 리스트에서 최댓값과 최솟값을 출력하라. (힌트: min(), max() 함수 사용)
nums = [1, 2, 3, 4, 5, 6, 7]
a = max(nums)
b = min(nums)
print('max:',a)
print('min:',b)

max: 7
min: 1

In [170]:
#58. 다음 리스트의 합을 출력하라.

nums = [1, 2, 3, 4, 5]
print(sum(nums))

15

In [172]:
#59. 다음 리스트에 저장된 데이터의 개수를 화면에 구하하라.

cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "쏘세지", "라면", "팥빙수", "김치전"]
print(len(cook))

12

In [173]:
#60. 다음 리스트의 평균을 출력하라.
nums = [1, 2, 3, 4, 5]
aver = sum(nums)/len(nums)
print(aver)

3.0