In [3]:
#61. price 변수에는 날짜와 종가 정보가 저장돼 있다. 날짜 정보를 제외하고 가격 정보만을 출력하라. (힌트 : 슬라이싱)

price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1:])

[100, 130, 140, 150, 160, 170]

In [9]:
#63. 슬라이싱을 사용해서 홀수만 출력하라.
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[0::2])

[1, 3, 5, 7, 9]

In [4]:
#63. 슬라이싱을 사용해서 짝수만 출력하라.
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[1::2])

[2, 4, 6, 8, 10]

In [8]:
#64. 슬라이싱을 사용해서 리스트의 숫자를 역 방향으로 출력하라.
nums = [1, 2, 3, 4, 5]
print(nums[::-1])

[5, 4, 3, 2, 1]

In [13]:
#65. interest 리스트에는 아래의 데이터가 바인딩되어 있다.
interest = ['삼성전자', 'LG전자', 'Naver']

#interest 리스트를 사용하여 아래와 같이 화면에 출력하라.
#삼성전자 Naver

print(interest[0],interest[2])

삼성전자 Naver

In [16]:
#66. join 메서드
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
# 이렇게 출력: 삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

print(" ".join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [18]:
#67.이렇게 출력: 삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우
print("/ ".join(interest))

삼성전자/ LG전자/ Naver/ SK하이닉스/ 미래에셋대우

In [20]:
#68. join() 메서드를 사용해서 interest 리스트를 아래와 같이 화면에 출력하라.
#삼성전자
#LG전자
#Naver
#SK하이닉스
#미래에셋대우

print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [22]:
#69. 회사 이름이 슬래시 ('/')로 구분되어 하나의 문자열로 저장되어 있다.
#이를 interest 이름의 리스트로 분리 저장하라. 출력: ['삼성전자', 'LG전자', 'Naver']

string = "삼성전자/LG전자/Naver"
string = string.split("/")
print(string)

['삼성전자', 'LG전자', 'Naver']

In [26]:
#70. 리스트에 있는 값을 오름차순으로 정렬하세요

data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)

[1, 2, 3, 4, 5, 9, 10]

In [27]:
#71. my_variable 이름의 비어있는 튜플을 만들라.

my_variable  = ()

print(type(my_variable))

<class 'tuple'>

In [28]:
#72.2016년 11월 영화 예매 순위 기준 top3는 다음과 같다. 
#영화 제목을 movie_rank 이름의 튜플에 저장하라. (순위 정보는 저장하지 않는다.)

movie_rank  = ('닥터 스트레인지', '스플릿', '럭키')
print(type(movie_rank))

<class 'tuple'>

In [32]:
#73.숫자 1 이 저장된 튜플을 생성하라.

num = (1, ) # my_tuple = (1) 경우 type == int로 인식

print(type(num))

<class 'tuple'>

In [33]:
#74. 다음 코드를 실행해보고 오류가 발생하는 원인을 설명하라.
t = (1, 2, 3)
t[0] = 'a'

#답: 튜플은 element 변경을 할 수 없다.

TypeError: 'tuple' object does not support item assignment

In [34]:
#75. 아래와 같이 t에는 1, 2, 3, 4 데이터가 바인딩되어 있다. t가 바인딩하는 데이터 타입은 무엇인가?
t = 1, 2, 3, 4

#답: 튜플
print(type(t))

<class 'tuple'>

In [36]:
#76.변수 t에는 아래와 같은 값이 저장되어 있다. 변수 t가 ('A', 'b', 'c') 튜플을 가리키도록 수정 하라.
t = ('a', 'b', 'c')
temp = ('A', 'b', 'c')
t = temp

print(t)
print(type(t))

('A', 'b', 'c')
<class 'tuple'>

In [38]:
#77.다음 튜플을 리스트로 변환하라.
interest = ('삼성전자', 'LG전자', 'SK Hynix')
a = list(interest)

print(a)
print(type(a))

['삼성전자', 'LG전자', 'SK Hynix']
<class 'list'>

In [39]:
#78. 다음 리스트를 튜플로 변경하라.

interest = ['삼성전자', 'LG전자', 'SK Hynix']
a = tuple(interest)

print(a)
print(type(a))

('삼성전자', 'LG전자', 'SK Hynix')
<class 'tuple'>

In [40]:
#79. 다음 코드의 실행 결과를 예상하라.

temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

#예상: ('apple', 'banana', 'cake')

apple banana cake

In [42]:
# 괄호가 없어지는 이유는? print() 함수 없이 temp로 출력해도 괄호안에 나오는데, 왜 요소들만 나올까요?
temp = ('apple', 'banana', 'cake')
print(temp)

('apple', 'banana', 'cake')

In [58]:
#80.1 부터 99까지의 정수 중 짝수만 저장된 튜플을 생성하라.
#튜플을 리스트 표현식처럼 생성할 때는 다음과 같이 tuple 안에 for 반복문과 if 조건문을 지정
#tuple(식 for 변수 in 리스트 if 조건식)
a = tuple(i for i in range(100) if i % 2 == 0)
print(a)
# 정답: data = tuple(range(2, 100, 2))
#print( data )

(0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

In [61]:
#81.다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, start expression을 사용하여 좌측 8개의 값을 바인딩하여라.

scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

*scores_1, scores_2, scores_3 = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

print(scores_1)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [60]:
#valid_score 변수에 바인딩하라.

*valid_score, _, _= scores
print(valid_score)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [62]:
#82. 다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, start expression을 사용하여 우측 8개의 값을 valid_score 변수에 바인딩하여라.

_, _,*valid_score = scores
print(valid_score)

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [63]:
#83. 다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, start expression을 사용하여 가운데 있는 8개의 값을 valid_score 변수에 바인딩하여라.

_, *valid_score, _ = scores
print(valid_score)

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

In [65]:
#84. temp 이름의 비어있는 딕셔너리를 만들라.

temp = { }

print(type(temp))

<class 'dict'>

In [68]:
#85.다음 아이스크림 이름과 희망 가격을 딕셔너리로 구성하라.

a = {"메로나:1000", "폴라포:1200", "빵빠레:1800"}

print(type(a)) # 'set' 과 혼동하지 말 것!!!

<class 'set'>

In [69]:
#85.다음 아이스크림 이름과 희망 가격을 딕셔너리로 구성하라.

a = {"메로나":1000, "폴라포":1200, "빵빠레":1800}

print(type(a))

<class 'dict'>

In [77]:
#86.085 번의 딕셔너리에 아래 아이스크림 가격정보를 추가하라.

a["죠스바"] = 1200
a["월드콘"] = 1500

print(a)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, 0: {'죠스바': 1200, '월드콘': 1500}, '죠스바': 1200, '월드콘': 1500}

In [94]:
#87.다음 딕셔너리를 사용하여 메로나 가격을 출력하라.
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

print('메로나는:', ice.get('메로나'))

메로나는: 1000

In [96]:
for i in ice.keys():
    print(i)

메로나
폴로포
빵빠레
죠스바
월드콘

In [97]:
#88.다음 딕셔너리에서 메로나의 가격을 1300으로 수정하라.
ice['메로나'] = 1300

ice

{'메로나': 1300, '폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [98]:
#89.다음 딕셔너리에서 메로나를 삭제하라.
del ice['메로나'] # 요소 삭제 
ice

{'폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [107]:
#90.다음 코드에서 에러가 발생한 원인을 설명하라

icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
icecream['누가바']

#icecream 딕셔너리안에 없는 키를 호출함.

KeyError: '누가바'

In [109]:
#91.아래의 표에서, 아이스크림 이름을 키값으로, (가격, 재고) 리스트를 딕셔너리의 값으로 저장하라. 딕셔너리의 이름은 inventory로 한다.

inventory = {'메로나':[300, 20],'비비빅':[400,20],'죠스바':[250, 100]}

print(inventory)
print(type(inventory))

{'메로나': [300, 20], '비비빅': [400, 20], '죠스바': [250, 100]}
<class 'dict'>

In [110]:
#92.inventory 딕셔너리에서 메로나의 가격을 화면에 출력하라.

print(inventory['메로나'][0],'원')

300 원

In [111]:
#93.inventory 딕셔너리에서 메로나의 재고를 화면에 출력하라.
print(inventory['메로나'][1],'개')

20 개

In [113]:
#94.inventory 딕셔너리에 아래 데이터를 추가하라.
#월드콘:[500, 7]

inventory['월드콘']=[500,7]
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 20], '죠스바': [250, 100], '월드콘': [500, 7]}

In [119]:
#95.다음의 딕셔너리로부터 key 값으로만 구성된 리스트를 생성하라.
a = list(inventory.keys())
print(a)
print(type(a))

['메로나', '비비빅', '죠스바', '월드콘']
<class 'list'>

In [121]:
#96.다음의 딕셔너리에서 values 값으로만 구성된 리스트를 생성하라.
b = list(inventory.values())
print(b)
print(type(b))

[[300, 20], [400, 20], [250, 100], [500, 7]]
<class 'list'>

In [125]:
#97.icecream 딕셔너리에서 아이스크림 판매 금액의 총합을 출력하라.
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}

#b = list(icecream.values())
#print(sum(b))

print(sum(icecream.values()))

6700

In [127]:
#98.아래의 new_product 딕셔너리를 다음 icecream 딕셔너리에 추가하라.

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}

icecream.update(new_product)
print(icecream)

{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}

In [132]:
#99.아래 두 개의 튜플을 하나의 딕셔너리로 변환하라. keys를 키로, vals를 값으로 result 이름의 딕셔너리로 저장한다.
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)

result = dict({keys[0]:vals[0], keys[1]:vals[1], keys[2]:vals[2]})

print(result)
print(type(result))

{'apple': 300, 'pear': 250, 'peach': 400}
<class 'dict'>

In [133]:
#위의 코드는 정말 유치하군... ;;

result = dict(zip(keys, vals))
print(result)

{'apple': 300, 'pear': 250, 'peach': 400}

In [134]:
#100.date와 close_price 두 개의 리스트를 close_table 이름의 딕셔너리로 생성하라.
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]

close_table  = dict(zip(date, close_price)) 

print(close_table )
print(type(close_table ))

{'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}
<class 'dict'>

In [135]:
#101.파이썬에서 True 혹은 False를 갖는 데이터 타입은 무엇인가?

# bool

In [137]:
#102~105.아래 코드의 출력 결과를 예상하라
print(3 == 5)
print('---------')
print(3 < 5)
print('---------')
x = 4
print(1 < x < 5)
print('---------')
print ((3 == 3) and (4 != 3))
#예상 : False / True /True / True

False
---------
True
---------
True
---------
True

In [139]:
#106.아래 코드에서 에러가 발생하는 원인에 대해 설명하라.
print(3 => 4)

#<, > 부호가  '='보다 먼저 쓰여야 한다. 문법오류

SyntaxError: invalid syntax (<ipython-input-139-7be70eb12b7a>, line 2)

In [140]:
print(3 >= 4)

False

In [142]:
#107. 아래 코드의 출력 결과를 예상하라.

if 4 < 3:
    print("Hello World")
    
# Error  !=조건을 만족하지 않기 때문에 아무 결과도 출력되지 않습니다.

In [143]:
#108. 아래 코드의 출력 결과를 예상하라
if 4 < 3:
    print("Hello World.")
else:
    print("Hi, there.")

# Hi, there. ==

Hi, there.

In [144]:
#109.아래 코드의 출력 결과를 예상하라
if True :
    print ("1")
    print ("2")
else :
    print("3")
print("4")

# 3 != True우선, 4는 조건문 밖에 있으므로 출력

1
2
4

In [145]:
#110.아래 코드의 출력 결과를 예상하라
if True :
    if False:
        print("1")
        print("2")
    else:
        print("3")
else :
    print("4")
print("5")

# 3 / 5

3
5

In [147]:
#111. 사용자로부터 입력받은 문자열을 두 번 출력하라. 아래는 사용자가 "안녕하세요"를 입력한 경우의 출력 결과이다.

a = input("입력하세요:")
for i in range(2):
    print(a)

입력하세요:안녕하세요.
안녕하세요.
안녕하세요.

In [148]:
#111. 모법답안. (가로 출력)
user = input("입력:")
print(user * 2)

입력:안녕하세요.
안녕하세요.안녕하세요.

In [149]:
#112. 사용자로부터 하나의 숫자를 입력받고, 입력 받은 숫자에 10을 더해 출력하라.

a = int(input("숫자를 입력하세요:"))
if a:
  print(a+10)

숫자를 입력하세요:20
30

In [150]:
#113. 사용자로부터 하나의 숫자를 입력 받고 짝수/홀수를 판별하라.

a = int(input("숫자를 입력하세요:"))
if a % 2 == 0:
  print("%d는 짝수 입니다." % a)
else:
  print("%d는 홀수 입니다." % a)

숫자를 입력하세요:6
6는 짝수 입니다.

In [151]:
#114. 사용자로부터 값을 입력받은 후 해당 값에 20을 더한 값을 출력하라. 단 사용자가 입력한 값과 20을 더한 계산 값이 255를 초과하는 경우 255를 출력해야 한다.

a = int(input("숫자를 입력하세요:"))
if (a + 20) <= 255:
  print(a + 20)
else:
  print(255)

숫자를 입력하세요:235
255

In [152]:
#115. 사용자로부터 하나의 값을 입력받은 후 해당 값에 20을 뺀 값을 출력하라. 단 출력 값의 범위는 0~255이다. 예를 들어 결괏값이 0보다 작은 값이되는 경우 0을 출력하고 255보다 큰 값이 되는 경우 255를 출력해야 한다.

a = int(input("숫자를 입력하세요:"))
if (a - 20) <= 0:
  print(0)
elif (a-20) >= 255:
  print(255)
else:
  print(a-20)

숫자를 입력하세요:250
230

In [153]:
#116. 사용자로부터 입력 받은 시간이 정각인지 판별하라.
a = (input(" "))
if a[-2:] == '00':
   print("정각 입니다")
else:
   print("정각이 아닙니다")

 15:00
정각 입니다

In [158]:
#117. 사용자로 입력받은 단어가 아래 fruit 리스트에 포함되어 있는지를 확인하라. 포함되었다면 "정답입니다"를 아닐 경우 "오답입니다" 출력하라.

user = input(" ")
fruit = ["사과", "포도", "홍시"]

if user in fruit:
  print("정답입니다")
else:
  print("정답이 아닙니다")

 수박
정답이 아닙니다

In [159]:
#118. 투자 경고 종목 리스트가 있을 때 사용자로부터 종목명을 입력 받은 후 해당 종목이 투자 경고 종목이라면 '투자 경고 종목입니다'를 아니면 "투자 경고 종목이 아닙니다."를 출력하는 프로그램을 작성하라.

user = input(" ")
warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]

if user in warn_investment_list:
  print('투자 경고 종목입니다')
else:
  print("'투자 경고 종목이 아닙니다'")

 Google
투자 경고 종목입니다

In [162]:
#119.아래와 같이 fruit 딕셔너리가 정의되어 있다. 사용자가 입력한 값이 딕셔너리 키 (key) 값에 포함되었다면 "정답입니다"를 아닐 경우 "오답입니다" 출력하라.

user = input(" ")
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
if user in fruit:
  print("정답입니다.")
else:
  print("오답입니다")

 포도
오답입니다

In [163]:
#120. 아래와 같이 fruit 딕셔너리가 정의되어 있다. 사용자가 입력한 값이 딕셔너리 값 (value)에 포함되었다면 "정답입니다"를 아닐 경우 "오답입니다" 출력하라.
user = input("내가 좋아하는 계절은:")
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
#user = fruit[key]
if user in fruit:
  print("정답입니다.")
else:
  print("오답입니다")

내가 좋아하는 계절은:여름
정답입니다.